<!DOCTYPE html>
<html>
  <head>
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <img src="/images/as.png" style="width: 60px; height: 60px" />
        <span>后台管理系统</span>
      </header>
      <form action="admin/main" method="post">
        <div class="form-group">
          <span>用户名</span>
          <input placeholder="请输入用户名" name="username" />
        </div>
        <div class="form-group">
          <span>密码</span>
          <input placeholder="请输入密码" name="password" type="password"/>
        </div>
        <input type="submit" value="登录"></input>
      </form>
    </div>
  </body>
</html>
