body {
  margin: 0;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-size: 24px;
  font-weight: 600;
}

form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input {
  border: 0px;
  background-color: none;
  outline: none;
}
form .form-group + .form-group {
  margin-top: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}
form input {
  width: 338px;
  height: 40px;
  border-radius: 12px;
  margin-left: 20px;
}

form span{
  color: rgb(49, 46, 46);
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}

form input[type=submit] {
  width: 100%;
  margin-top: 32px;
  font-size: 24px;
  line-height: 48px;
  color: white;
  background-color: #00B7FF;
  border-radius: 12px;
  border: none;
}